{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}

{{- block main() -}}{{- end -}}

{{- block body() -}}
<h1 class="max-w-sm mt-12 mx-auto px-8">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="240" height="57" class="w-full h-full fill-gray-900">
      <use href="{{ assetURL(`img/logo-text.svg`) }}#logo"></use>
    </svg>
  </div>
</h1>
<main class="w-full max-w-sm p-8 mt-6 mx-auto bg-gray-100 text-gray-dark rounded-md shadow-md" id="content">
  {{ yield main() }}
</main>
{{- end -}}
