{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("Welcome to Readeck!") }}{{ end }}

{{ block main() }}

<h1 class="title text-h3">{{ yield title() }}</h1>
<p class="my-4">
  {{ gettext("We're delighted to have you on board; one more step and you're good to go.") }}
</p>

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(field=.Form.Get("username"),
                     required=true,
                     label=gettext("Username"),
                     class="max") }}

  {{ yield passwordField(field=.Form.Get("password"),
                         required=true,
                         label=gettext("Password"),
                         class="max",
                         inputAttrs=attrList("autocomplete", "new-password"),
                         help=gettext("must be at least 8 characters long")) }}

  <hr class="my-8">
  {{ yield textField(field=.Form.Get("email"),
                     type="email",
                     label=gettext("Email address"),
                     class="max") }}
  <p class="text-sm mb-8"><strong>{{ gettext("Please note:") }}</strong>
  {{ gettext(`
  Your email address is optionnal and will never leave this installation.
  It will never be collected, transferred or sold.
  It will <strong>only</strong> be used, should you need it, for password recovery and internal notifications.
  `)|raw }}
  </p>

  <p><button class="btn-primary block w-full" type="submit">{{ gettext("Finish installation") }}</button></p>
</form>
{{ end }}
