{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/formsv2" }}

{{ block title() }}{{ gettext("Password recovery") }}{{ end }}

{{ block main() }}
  {{- step := .Form.Get("step").Value() -}}

  <h2 class="text-h3 mb-8 text-center">{{ yield title() }}</h2>
  {{- if step == 0 -}}
    <form action="" method="post">
      {{ yield formErrors(form=.Form) }}
      {{ yield csrfField() }}
      <input type="hidden" name="step" value="{{ step }}" />

      <p class="mt-4">{{ gettext("No worries, it happens to anyone.") }}</p>
      <p class="mt-2 mb-6">{{ gettext(`
        Please provide the email address you used to create
        your account and we'll send you a message with a link
        to recover your password.
      `) }}</p>

      {{ yield textField(field=.Form.Get("email"),
                        label=gettext("Email address"),
                        class="max",
      ) }}
      <button class="btn btn-default block mt-6 w-full rounded-md" type="submit">{{ gettext("Send me a recovery link") }}</button>
      <p class="mt-4 text-center"><a href="{{ urlFor(`/login`) }}" class="link">{{ gettext("Cancel and go back to sign in") }}</a></p>
    </form>
  {{- else if step == 1 -}}
    {{- yield message(type="success") content -}}
      <p>{{ gettext("Almost there!") }}</p>
      <p class="mt-2">{{ gettext(`
        We have sent an email to
        <strong>%s</strong>
        with further instructions.
      `, html(.Form.Get("email").String()))|unsafe }}</p>
    {{- end -}}
  {{- else if step == 2 -}}
    {{- if isset(.Error) -}}
      {{- yield message(type="error") content }}{{ .Error }}{{ end -}}
    {{- else -}}
      <form action="" method="post">
        {{ yield formErrors(form=.Form) }}
        {{ yield csrfField() }}
        <input type="hidden" name="step" value="{{ step }}" />

        {{ yield passwordField(field=.Form.Get("password"),
                               label=gettext("New password"),
                               class="max",
                               help=gettext("must be at least 8 characters long")) }}
        <button class="btn btn-default block mt-6 w-full rounded-md" type="submit">{{ gettext("Update your password") }}</button>
        <p class="mt-4 text-center"><a href="{{ urlFor(`/login`) }}" class="link">{{ gettext("Cancel and go back to sign in") }}</a></p>
    {{- end -}}
  {{- else if step == 3 -}}
    {{- yield message(type="success") content -}}
      <p>{{ gettext("Your password has been changed.") }}</p>
      <p class="mt-2"><a class="link" href="{{ urlFor(`/login`) }}">{{ gettext("Go to the sign in page") }}</a></p>
    {{- end -}}
  {{- end -}}

{{ end }}
