{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- if .TotalPages > 1 -}}
  <nav class="paginator print:hidden">
    <div class="paginator--basic">
      {{- if .PreviousPage -}}
        <a href="{{ .PreviousPage }}">{{ pgettext("page", "Previous") }}</a>
      {{- else -}}
        <span></span>
      {{- end -}}
      {{- if .NextPage -}}
        <a href="{{ .NextPage }}">{{ pgettext("page", "Next") }}</a>
      {{- end -}}
    </div>

    <div class="paginator--extended">
      {{- if .PreviousPage -}}
        <a href="{{ .PreviousPage }}" aria-label="{{ gettext(`Go to previous page`) }}"
        >{{ yield icon(name="o-chevron-l") }}</a>
      {{- end -}}

      {{- current := .CurrentPage -}}
      {{- range .PageLinks -}}
        {{- if .Index == current -}}
          <span class="paginator--current">{{ .Index }}</span>
        {{- else if .Index != 0 -}}
          <a href="{{ .URL }}" aria-label="{{ gettext(`Go to page %d`, .Index) }}">{{ .Index }}</a>
        {{- else -}}
          <span class="paginator--hellip">&hellip;</span>
        {{- end -}}
      {{- end -}}

      {{- if .NextPage -}}
        <a href="{{ .NextPage }}" aria-label="{{ gettext(`Go to next page`) }}"
        >{{ yield icon(name="o-chevron-r") }}</a>
      {{- end -}}
    </div>
  </nav>
{{- end -}}
