{{- block sidebar() -}}
<label for="--sl-toggle"
 class="sidebar:toggle bg-gray-800 text-white rounded-full ring-2 ring-white"
>{{- yield icon(name="o-menu", class="inline-block", svgClass="w-6 h-6") -}}
</label>
<input type="checkbox" id="--sl-toggle" class="sidebar:ctrl">
<aside class="layout:sidebar print:hidden
  +md:bg-gray-800 +md:bg-none +md:text-white +md:shadow-none
  shadow-sidebar bg-gradient-to-r from-gray-50 to-gray-100">
  <nav class="sidebar:content py-4 +md:pl-14">
    {{- yield content -}}
  </nav>
</aside>
{{- end -}}
