{{ extends "/_layouts/sidemenu" }}

{{- block sideMenu() -}}
<h2 class="h-topnav border-b border-gray-200 uppercase flex items-center justify-center">User Settings</h2>
<menu class="mt-4">
  <li><a href="{{ urlFor(`/profile`) }}"
  data-current="{{ pathIs(`/profile`) }}">{{ yield icon(name="o-user") }} Profile</a></li>
  <li><a href="{{ urlFor(`/profile/password`) }}"
  data-current="{{ pathIs(`/profile/password`) }}">{{ yield icon(name="o-key") }} Password</a></li>
  {{ if hasPermission("profile:tokens", "read") -}}
    <li><a href="{{ urlFor(`/profile/tokens`) }}"
    data-current="{{ pathIs(`/profile/tokens`, `/profile/tokens/*`) }}">{{ yield icon(name="o-terminal") }} API Tokens</a></li>
  {{- end }}
</menu>
{{- end -}}
