{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}
{{ import "/_libs/list"}}

{{ block title() }}{{ gettext("My Application Passwords") }}{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

<turbo-frame id="password-list"
 data-controller="turbo-refresh"
 data-turbo-refresh-interval-value="10"
 data-turbo-refresh-on-value="[data-user-deleted='true']">

{{- if .CanCreate -}}
  <form class="mb-4" action="{{ urlFor() }}" method="post">
    {{ yield csrfField() }}
    <p><button class="btn btn-primary" type="submit">{{ gettext("Create a new Application Password") }}</button></p>
  </form>
{{- else -}}
  <p class="my-8 p-4 bg-yellow-50 border border-yellow-600 rounded">
    <strong>Note:</strong> You have reached the limit of {{ .MaxCredentials }} application passwords
  </p>
{{- end -}}

{{ if len(.Credentials) > 0 }}
{{ include "/_libs/pagination" .Pagination }}

  {{ yield list() content }}
  {{ range .Credentials }}
    {{ yield list_item(class="flex gap-2 items-center hfw:bg-gray-100 max-md:block") content }}
      <a class="block flex-grow p-4" href="{{ urlFor(`.`, .ID ) }}">
        {{- if .IsEnabled -}}
          {{ yield icon(name="o-check-on", class="svgicon text-green-700") }}
        {{- else -}}
          {{ yield icon(name="o-cross", class="svgicon text-red-700") }}
        {{- end }}
        <strong class="link font-semibold">{{ .ID }}</strong>
        - <small>{{ .Name }}</small>
        <small class="block">{{ gettext("Created on: %s", date(.Created, "%e %B %Y")) }}</small>
      </a>
      {{- if .IsDeleted -}}
        <div class="flex items-center max-w-xs m-4 max-md:mt-0"
          data-user-deleted="true">
          <span class="text-red-700 text-xs font-semibold">
            {{ gettext("This password will be removed in a few seconds.") }}
          </span>
          <form action="{{ urlFor(`.`, .ID, `delete`) }}" method="post">
            {{ yield csrfField() }}
            <input type="hidden" name="cancel" value="1" />
            <button type="submit"
            class="btn btn-primary whitespace-nowrap text-sm py-1 ml-2">{{ yield icon(name="o-undo") }} {{ gettext("Cancel") }}</button>
          </form>
        </div>
      {{- end -}}
    {{ end }}
  {{ end }}
  {{ end }}

{{ include "/_libs/pagination" .Pagination }}
{{ end }}
</turbo-frame>

{{ end }}
