{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("My profile") }}{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  <fieldset class="mb-6">
    <legend class="title text-h3">{{ gettext("Base settings") }}</legend>
    {{ yield textField(field=.Form.Get("username"),
                       required=true,
                       label=gettext("Username"),
                       class="field-h") }}

    {{ yield textField(field=.Form.Get("email"),
                       type="email",
                       required=true,
                       label=gettext("Email Address"),
                       class="field-h") }}

    {{ yield selectField(field=.Form.Get("settings_lang"),
                         required=true,
                         label=gettext("Language"),
                         class="field-h") }}

    <div class="field-h">
      <span class="field-spacer"></span>
      {{- yield message(class="my-0") content -}}
        <h4 class="title text-lg mb-2">Translate Readeck</h4>
        <p>You couldn't find your own language or you'd like to improve an existing translation?</p>
        <p>You can help with <a class="link" target="_blank" href="https://readeck.org/en/contribute#translations">translating Readeck.</a></p>
      {{- end -}}
    </div>
  </fieldset>

  {{ if hasPermission("email", "send") -}}
  <fieldset class="mb-6">
    <legend class="title text-h3">{{ gettext("Email settings") }}</legend>
    <p class="mb-4">{{ gettext(`
    These, optional, parameters are used when Readeck sends emails.
    `) }}</p>

    {{ yield textField(field=.Form.Get("settings_email_reply_to"),
                       type="email",
                       label=gettext("Reply To"),
                       help=gettext("Add this email address in your outgoing emails so recipients can reply."),
                       class="field-h") }}

    {{ yield textField(field=.Form.Get("settings_email_epub_to"),
                       type="email",
                       label=gettext("Send EPUB to"),
                       help=gettext("This address is used to prefill the recipient when you send an e-book by email."),
                       class="field-h") }}

    <div class="field-h">
      <span class="field-spacer"></span>
      {{- yield message(class="my-0") content -}}
        <h4 class="title text-lg mb-2">Sending e-books to an Amazon Kindle</h4>
        <p>{{ gettext(`
        If you plan to send e-books to a Kindle device, you must approve the
        following email address within your Kindle Account:
        `) }}<p>
        <p class="mt-2"><code>{{ .MailFrom }}</code></p>
      {{- end -}}
    </div>
  </fieldset>
  {{- end }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Save") }}</button>
  </p>
</form>



{{ end }}
