/.makerc
/config.toml
/data
/data-*
/dist
/ftr-site-config

/.vscode

/assets/www/*
!/assets/www/.keep

/docs/assets/*
!/docs/assets/.keep
/docs/src/.obsidian

/locales/translations/*/messages.mo

/web/dist
/web/node_modules
