/config.toml
/data
/data-*
/dist

/.vscode

/src/assets/www/*
!/src/assets/www/.keep
!/src/assets/templates/base.gohtml

/src/docs/assets/*
!/src/docs/assets/.keep
/src/docs/src/.obsidian

/src/web/dist
/src/web/node_modules
