{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}

{{- block title() -}}{{ gettext("Bookmark Highlights") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>


{{- if .Pagination.TotalCount == 0 -}}
  <div class="max-w-std">
    <div class="my-4 p-4 text-blue-800 bg-yellow-100 border border-blue-800 rounded">
      <p class="font-bold mb-2">{{ gettext("You don't have any highlights yet.") }}</p>
      <p>{{ gettext(`
        Once you start highlighting parts of your saved articles, they will appear on this page
        for you to easily find them.
      `) }}</p>
    </div>
    <p>{{ gettext(
      `Read more about highlights in the <a class="%s" href="%s">documentation</a>.`,
      "link",
      urlFor(`/docs/bookmark`) + "#highlights",
    )|raw }}</p>
  </div>
{{- else -}}
  {{- include "/_libs/pagination" .Pagination -}}

  {{- range i, x := .Annotations -}}
  {{- color := x.Color ? x.Color : "yellow" -}}
  <blockquote class="my-2">
    <a class="block mb-1 pt-2 pb-4 px-4 rd-annotation rd-annotation--{{ color }} bg-opacity-30 border rounded hf:bg-opacity-80"
    href="{{ urlFor(`/bookmarks`, x.BookmarkID) }}#annotation-{{ x.ID }}">
      <p class="block mb-1 text-sm text-yellow-800">{{ date(x.Created, "%e %B %Y, %H:%M") }}</p>
      <p>{{ x.Text }}</p>
    </a>

    {* This groups annotations by bookmarks in the same sequence *}
    {{- if i+1 == len(.Annotations) || .Annotations[i+1].BookmarkID != x.BookmarkID -}}
      <cite class="block ml-2 mb-6 not-italic">
        {{ x.BookmarkSiteName }} ‐
        <a class="link font-semibold" href="{{ urlFor(`/bookmarks`, x.BookmarkID) }}">{{ x.BookmarkTitle }}</a>
      </cite>
    {{- end -}}
  </blockquote>
  {{- end -}}

  {{- include "/_libs/pagination" .Pagination -}}
{{- end -}}
{{- end -}}
