{{ extends "/app" }}
{{ import "/_libs/sidebar" }}

{{- block preContent() -}}
  {{- yield sidebar() content -}}
  <h2 class="sidebar:title">Bookmarks</h2>

  <form class="mt-2 ml-0.5 mr-1 flex" action="{{ urlFor(`/bookmarks`) }}" method="get">
    <input type="hidden" name="bf" value="1" />
    <input title="search in bookmarks" class="form-input rounded-full pl-4 pr-8 w-full max-w-xs +md:max-w-none" size="14"
    type="text" name="q" value="{{ isset(.Filters) ? .Filters.Search : `` }}" placeholder="search" />
    <button title="search" class="leading-normal -ml-6 mr-2">{{ yield icon(name="o-search") }}</button>
  </form>

  <ul class="mt-2">
    <li><a class="sidebar:link"
      data-current="{{ pathIs(`/bookmarks`) }}"
    href="{{ urlFor(`/bookmarks`) }}">{{ yield icon(name="o-library") }} All</a></li>
    <li><a class="sidebar:link"
      data-current="{{ pathIs(`/bookmarks/unread`) }}"
    href="{{ urlFor(`/bookmarks`, `unread`) }}">{{ yield icon(name="o-check-off") }} Unread</a></li>
    <li><a class="sidebar:link"
      data-current="{{ pathIs(`/bookmarks/archives`) }}"
    href="{{ urlFor(`/bookmarks`, `archives`) }}">{{ yield icon(name="o-archive-off") }} Archive</a></li>
    <li><a class="sidebar:link"
      data-current="{{ pathIs(`/bookmarks/favorites`) }}"
    href="{{ urlFor(`/bookmarks`, `favorites`) }}">{{ yield icon(name="o-favorite-off") }} Favorites</a></li>
  </ul>

  {{- if isset(.Count) }}
    <ul class="mt-4">
      {{- if isset(.Count.ByType.article) && .Count.ByType.article > 0 }}
      <li><a class="sidebar:link"
        data-current="{{ pathIs(`/bookmarks/articles`) }}"
        href="{{ urlFor(`/bookmarks/articles`) }}">{{ yield icon(name="o-file") }} Articles</a></li>
      {{- end -}}

      {{- if isset(.Count.ByType.video) && .Count.ByType.video > 0 }}
      <li><a class="sidebar:link"
        data-current="{{ pathIs(`/bookmarks/videos`) }}"
        href="{{ urlFor(`/bookmarks/videos`) }}">{{ yield icon(name="o-video") }} Videos</a></li>
      {{- end -}}

      {{- if isset(.Count.ByType.photo) && .Count.ByType.photo > 0 }}
      <li><a class="sidebar:link"
        data-current="{{ pathIs(`/bookmarks/pictures`) }}"
        href="{{ urlFor(`/bookmarks/pictures`) }}">{{ yield icon(name="o-photo") }} Pictures</a></li>
      {{- end -}}
    </ul>
  {{ end -}}

  <h2 class="mt-4 sidebar:subtitle">Labels</h2>
  <ul class="mt-2">
    <li><a class="sidebar:link"
    data-current="{{ pathIs(`/bookmarks/labels`) }}"
     href="{{ urlFor(`/bookmarks/labels`) }}">{{ yield icon(name="o-label") }} All Labels</a></li>
  </ul>

  {{- end -}} {* /content() *}
{{- end -}}
