{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}
{{ import "./components/common" }}
{{ import "./components/card_blocks" }}

{{- block title() -}}
  {{- if !.Item.Loaded -}}
    {{ gettext("Bookmark loading") }}
  {{- else -}}
    {{ .Item.Title }}
  {{- end }} - {{ gettext("Bookmarks") }}
{{- end -}}

{{- block head() -}}
  {{- if !.Item.Loaded -}}
    <noscript><meta http-equiv="refresh" content="5"></noscript>
  {{- end -}}
{{- end -}}

{{- block body() -}}
  {{- yield quickAccessMenu(items=slice(
    slice("menu", gettext("Menu")),
    slice("content", gettext("Main content")),
  )) -}}
<div class="layout">
  {{ include "/menu" }}

  <turbo-frame id="bookmark-info" data-controller="turbo-refresh panel"
   data-turbo-refresh-on-value="[data-deleted]"
   data-turbo-refresh-interval-value="3"
   data-panel-hidden-class="max-md:hidden hidden"
   data-panel-force-hidden-class="max-md:hidden"
   data-panel-body-class="max-md:overflow-hidden"
   class="bookmark-container">
    {{- if !.Item.Loaded -}}
      <div class="text-center mt-8" id="content">
        <span class="text-3xl">{{ yield spinner() }}</span>
        <p class="text-lg">{{ gettext("Bookmark is loading") }}…</p>
      </div>
    {{- else -}}
      <div class="hidden print:block {{ preferences.ReaderFont().Class }}" data-controller="styler"
       dir="{{ default(.Item.TextDirection, `ltr`) }}">
        <h1 class="px-6 py-4 text-3xl print:px-0">{{ .Item.Title }}</h1>
      </div>

      <div id="bookmark-panel"
       class="bookmark-sidebar max-md:hidden"
       data-panel-target="panel"
       tabindex="-1"
      >
        <div class="h-topnav border-b bg-app-bg border-b-gray-200 max-md:sticky max-md:top-0 max-md:z-40 print:hidden no-js:hidden">
          <button type="button" title="{{ gettext(`Close panel`) }}"
           data-action="click->panel#toggle"
           data-panel-target="button"
           aria-controls="bookmark-panel"
           class="md:hidden p-1 ml-2 absolute top-3 right-3 border rounded text-gray-400 hf:text-gray-700"
          >
            {{- yield icon(name="o-close", class="inline-block", svgClass="w-8 h-8") -}}
            <span class="sr-only">{{ gettext("Close panel") }}</span></button>
          </button>
        </div>
        <div class="pt-4 pb-8 px-6">
          {{ include "./components/sidebar" }}
        </div>
      </div>

      <div class="bookmark-content" id="content">
        {* top bar *}
        <div class="bookmark-topbar">
          <div class="flex-grow flex gap-4 items-center">
            <div>
              <a href="{{ urlFor(`/bookmarks/unread`) }}" data-controller="history" data-action="history#back"
              class="p-2 rounded-full w-8 h-8 border border-bg-100 inline-flex items-center justify-center
              hf:bg-gray-200 hf:text-gray-800">
                {{- yield icon(name="o-chevron-l", class="inline-block", svgClass="w-6 h-6") -}}
              </a>
            </div>
            <div class="flex-grow"></div>
            {{- if .Item.HasArticle -}}
              {{- include "./components/reader_control" -}}
            {{- end -}}
            <button type="button" title="{{ gettext(`Bookmark information`) }}"
             data-action="click->panel#toggle"
             data-panel-target="button"
             aria-expanded="false"
             aria-controls="bookmark-panel"
             class="no-js:hidden hf:text-gray-700"
            >
              {{- yield icon(name="o-sidebar", class="inline-block", svgClass="w-6 h-6") -}}
              <span class="sr-only">{{ gettext("Bookmark information") }}</span></button>
            </button>
          </div>
          <div class="h-0.5 w-0 bg-gradient-to-r from-blue-700 to-blue-500"
           data-controller="scroll-indicator"
           data-scroll-indicator-target="progress"
          ></div>
        </div>

        {* title and description *}
        <div class="max-w-3xl mx-auto mt-4 print:mt-2 print:max-w-none mb-8 {{ preferences.ReaderFont().Class }}"
         data-controller="styler">
          {{ include "./components/title_form" .Item }}

          {{- if !empty(.Item.Description) -}}
            <p class="mt-2 text-lg leading-tight text-justify italic"
               dir="{{ default(.Item.TextDirection, `ltr`) }}">{{ .Item.Description }}</p>
          {{- end -}}
          {{- if user.Settings.DebugInfo -}}
            {{ include "./components/debug" map("log", ._log, "props", ._props) }}
          {{- end -}}
        </div>

        {* content *}
        {{ include "./components/content_block" map(
          "Item", .Item,
          "HTML", .HTML
        ) }}

        <div class="mx-auto mt-6 pt-6 border-t print:hidden">
        {{- include "./components/bottom_actions" .Item -}}
        </div>
      </div>

    {{- end -}}
  </turbo-frame>
</div>
{{- end -}}
