{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{- import "/_libs/forms" -}}
{{- import "./components/list_actions"}}

{{- block title() -}}
    {{ .Item.Name }} - {{ gettext("Collections") }}
{{- end -}}

{{- block mainContent() -}}
{{- if .Item.IsDeleted -}}
  <h1 class="title text-h2">{{ gettext("Collection %s", .Item.Name) }}</h1>
  <form action="{{ urlFor(`./delete`) }}" method="post">
    {{ yield csrfField() }}
    <input type="hidden" name="_to" value="{{ currentPath }}" />
    {{- yield message(type="info") content -}}
      {{ gettext("Collection will be removed in a few seconds.") }}&nbsp;
      <button class="btn btn-primary" name="cancel" value="1">{{ gettext("Cancel") }}</button>
    {{- end -}}
  </form>
{{- else -}}
  <turbo-frame id="bookmark-list"
  data-controller="turbo-refresh"
  data-turbo-refresh-interval-value="10"
  data-turbo-refresh-on-value="[data-bookmark-deleted='true']">

    <div class="flex flex-wrap items-center gap-2">
      <h1 class="flex-grow title mb-0 text-h2 max-md:w-full">
        <span class="font-normal"><a href="{{ urlFor(`/bookmarks/collections`) }}" class="link">{{ gettext("Collections") }}</a> /</span>
        {{ .Item.Name }}</h1>
      {{- yield list_actions() content -}}
        <form action="{{ urlFor() }}" method="get">
          <input type="hidden" name="edit" value="{{ .Editing ? 0 : 1 }}">
          <button type="submit" class="btn-outlined btn-primary py-1"
            data-controller="remote"
            data-action="remote#toggleDetails:prevent"
            data-remote-selector-param="#filters"
            >{{- yield icon(name="o-pencil") }} {{ gettext("Edit") }}
          </button>
        </form>

        {{- if hasPermission("api:bookmarks", "export") -}}
          {{- yield export_menu(url=urlFor(`/api/bookmarks/export.epub`) + `?collection=` + .Item.ID) -}}
        {{- end -}}
      {{- end -}}
    </div>

    <div class="bookmark-list-container mt-2">
    <details id="filters" class="bookmark-filters" {{- if .Editing }} open{{- end -}}>
      <summary>{{ gettext("Edit") }}</summary>
      <p class="mb-4 flex gap-2">
        <strong>{{ gettext("Filters") }}</strong>
        <a href="{{ urlFor(`/docs/bookmark-list`) }}#filters"
         class="link ml-auto">{{ yield icon(name="o-help") }}
        {{ gettext("Documentation") }}</a>
      </p>
      <form action="{{ urlFor() }}?edit=1" method="post">
        {{ yield formErrors(form=.Form) }}
        {{ yield csrfField() }}

        {{ yield textField(
          field=.Form.Get("name"),
          label=gettext("Name"),
        ) }}

        {{ include("./components/filters") .Form }}
        {{- if isset(.CurrentOrder) -}}
          <input type="hidden" name="sort" value="{{ .CurrentOrder }}">
        {{- end -}}

        <input type="hidden" name="bf" value="1" />
        <div class="bookmark-filters--actions">
            <button class="btn btn-primary">{{ gettext("Save") }}</button>
            <button class="btn-outlined btn-danger" formaction="{{ urlFor(`./delete`) }}" formmethod="post"
            >{{ yield icon(name="o-trash") }} {{ gettext("Delete collection") }}</button>
        </div>
      </form>
    </details>

    {{- include "./components/bookmark_list" -}}
  </turbo-frame>
{{- end -}}
{{- end -}}
