{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms"}}

{{- block title() -}}{{ gettext("New Collection") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<div class="bookmark-list">
  <div class="bookmark-list-container">
    <div class="bookmark-filters">
      <form action="{{ urlFor() }}" method="post">
        {{ yield formErrors(form=.Form) }}
        {{ yield csrfField() }}

        {{ yield textField(
          field=.Form.Get("name"),
          label=gettext("Name"),
          class="mb-2",
          inputAttrs=attrList("autofocus", true),
        ) }}
        {{ include("./components/filters") .Form }}

        <div class="bookmark-filters--actions">
          <button class="btn btn-primary" type="submit">{{ gettext("Save") }}</button>
        </div>
      </form>
    </div>

    {{- include "./components/bookmark_list" -}}
  </div>
</div>
{{- end -}}
