{{ extends "./base" }}
{{- import "/_libs/pagination" -}}

{{ block title() }}Bookmarks{{ end }}

{{ block mainContent() -}}
<turbo-frame id="bookmark-list"
 data-controller="turbo-refresh"
 data-turbo-refresh-interval-value="10"
 data-turbo-refresh-on-value="[data-bookmark-deleted='true']">

  <div>
    <label for="create-url" class="inline-block ml-4 my-1 text-sm font-semibold cursor-pointer">Create a new bookmark</label>
    <form action="{{ urlFor(`/bookmarks`) }}" method="post"
       data-controller="turbo-form"
       data-turbo-frame="_top">
        {{ yield csrfField() }}
        <div class="flex">
          <input type="text" name="url" id="create-url" size="15"
           class="form-input rounded-l-full rounded-r-none pl-4 w-full"
           value="{{ string(.Form.Get(`url`).Value()) }}" placeholder="https://" />
          <button class="btn-primary rounded-l-none rounded-r-full -r-full pr-4 whitespace-nowrap"
           type="submit">Save link</button>
        </div>

        {{ range .Form.Get("url").Errors }}<p class="ml-4 text-red-700"><strong>{{ . }}</strong></p>{{ end }}

        {{- if (!isset(.Q) || empty(.Q)) && pathIs("/bookmarks") && .Pagination.TotalCount == 0 -}}
          <p><strong>You don't have any bookmark yet. Start saving pages now!</strong></p>
        {{- end -}}
      </form>
  </div>

  {{- if isset(.Filters) }}
  <form action="{{ urlFor(`/bookmarks`) }}" class="my-4 p-4 bg-gray-100 border rounded text-sm">
    <h3>{{ yield icon(name="o-filter") }} Filters</h3>
    {{ yield textField(
        field=.Filters.Get("q"),
        type="text",
        name="q",
        label="Search",
        class="mb-0",
      ) }}
    <div class="grid grid-cols-3 gap-2 +md:grid-cols-2">
      {* <div class="field mb-0">
        <label for="" class="block">Title</label>
        <input type="text" name="title" class="form-input w-full" />
      </div> *}
      {{ yield textField(
        field=.Filters.Get("title"),
        type="text",
        name="title",
        label="Title",
        class="mb-0",
      ) }}
      {{ yield textField(
        field=.Filters.Get("author"),
        type="text",
        name="author",
        label="Author",
        class="mb-0",
      ) }}
      {{ yield textField(
        field=.Filters.Get("site"),
        type="text",
        name="site",
        label="Site",
        class="mb-0",
      ) }}

      {{ yield textField(
        field=.Filters.Get("label"),
        type="text",
        name="label",
        label="Label",
        class="field",
      ) }}

      <div class="col-span-2 flex flex-wrap gap-2">
        {{ yield selectField(field=.Filters.Get("is_marked"),
          name="is_marked",
          label="Is Favourite",
          class="mb-0",
          options=slice(slice("", ""), slice(true, "yes"), slice(false, "no")),
        ) }}
        {{ yield selectField(field=.Filters.Get("is_archived"),
          name="is_archived",
          label="Is Archived",
          class="mb-0",
          options=slice(slice("", ""), slice(true, "yes"), slice(false, "no")),
        ) }}

        {{ yield selectField(field=.Filters.Get("type"),
          name="type",
          label="Type",
          class="field",
          options=.Filters.Get("type").Value().Options(),
        ) }}
      </div>
      <div>
        <button class="btn btn-primary">Search</button>
      </div>

    </div>
  </form>
  {{ end -}}

  {{- include "/_libs/pagination" .Pagination -}}

  <div class="my-4 grid lg:grid-cols-cards gap-4">
  {{- range .Bookmarks -}}
    {{- include "./components/card" . -}}
  {{- end -}}
  </div>

  {{- include "/_libs/pagination" .Pagination -}}
</turbo-frame>
{{- end }}
