{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{- import "/_libs/forms" -}}
{{- import "/_libs/pagination" -}}

{{ block title() }}Bookmarks{{ end }}

{{ block mainContent() -}}
<turbo-frame id="bookmark-list"
 data-controller="turbo-refresh"
 data-turbo-refresh-interval-value="10"
 data-turbo-refresh-on-value="[data-bookmark-deleted='true']">

  <div class="mt-3">
    <label for="create-url" class="inline-block ml-4 my-1 text-sm font-semibold cursor-pointer">Create a new bookmark</label>
    <form action="{{ urlFor(`/bookmarks`) }}" method="post"
       data-controller="turbo-form"
       data-turbo-frame="_top">
        {{ yield csrfField() }}
        <div class="flex p-1 form-input rounded-full border-yellow-500">
          <input type="text" name="url" id="create-url" size="15"
           class="leading-tight w-full rounded-full px-4 py-2 bg-white ring-0 ring-offset-0"
           value="{{ string(.Form.Get(`url`).String()) }}" placeholder="https://" />
          <button class="whitespace-nowrap btn-primary rounded-full px-4"
           type="submit">Save link</button>
        </div>

        {{- if .Form.Errors() -}}
          {{ range .Form.Errors() }}<p class="ml-4 text-red-700"><strong>{{ .Error() }}</strong></p>{{- end -}}
        {{- end -}}
        {{ range .Form.Get("url").Errors }}<p class="ml-4 text-red-700"><strong>{{ . }}</strong></p>{{ end }}

        {{- if .Count.Total == 0 -}}
        <p><strong>You don't have any bookmark yet. Start saving pages now!</strong></p>
        {{- end -}}
      </form>
  </div>

  {{- if isset(.Filters) && .Count.Total > 0 }}
  <form action="{{ urlFor(`/bookmarks`) }}" method="get"
   class="my-4 p-2 bg-gray-100 border rounded">
    <input type="hidden" name="bf" value="1" />
    <details {{- if .Filters.IsActive() }} open{{- end -}}>
      <summary class="block font-semibold hf:text-primary">{{ yield icon(name="o-filter") }} Filters</summary>
      <div class="text-sm">
        <div class="grid grid-cols-3 gap-2 max-md:grid-cols-2">
          {{ yield textField(
            field=.Filters.Get("search"),
            label="Search",
            class="mb-0 col-span-3 max-md:col-span-2",
          ) }}
          {{ yield textField(
            field=.Filters.Get("title"),
            label="Title",
            class="mb-0",
          ) }}
          {{ yield textField(
            field=.Filters.Get("author"),
            label="Author",
            class="mb-0",
          ) }}
          {{ yield textField(
            field=.Filters.Get("site"),
            label="Site",
            class="mb-0",
          ) }}

          {{ yield textField(
            field=.Filters.Get("labels"),
            label="Label",
            class="mb-0",
          ) }}

          <div class="col-span-2 flex flex-wrap gap-2">
            {{ yield selectField(field=.Filters.Get("is_marked"),
              label="Is Favourite",
              class="mb-0",
              options=slice(slice("", ""), slice(true, "yes"), slice(false, "no")),
            ) }}
            {{ yield selectField(field=.Filters.Get("is_archived"),
              label="Is Archived",
              class="mb-0",
              options=slice(slice("", ""), slice(true, "yes"), slice(false, "no")),
            ) }}

            {{ yield selectField(field=.Filters.Get("type"),
              label="Type",
              class="mb-0",
            ) }}
          </div>
          <div class="mt-2 col-span-3 max-md:col-span-2">
            <button class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </details>
  </form>
  {{ end -}}

  {{- include "/_libs/pagination" .Pagination -}}

  <div class="my-4 grid lg:grid-cols-cards gap-4">
  {{- range .Bookmarks -}}
    {{- include "./components/card" . -}}
  {{- end -}}
  </div>

  {{- include "/_libs/pagination" .Pagination -}}
</turbo-frame>
{{- end }}
