{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms"}}

{{- block title() -}}{{ gettext("Import your Pocket Articles") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<div class="prose mb-8">
  <p>{{ gettext(`
    You can export your articles on Pocket by visiting:<br>
    <a class="%s" href="%s">%s</a>.
  `,
  "link", "https://getpocket.com/export", "https://getpocket.com/export",
  )|raw }}</p>
  <p>{{ gettext(`
    Upload this file in the form below and Readeck will fetch and save
    every link found it the file.
  `) }}</p>

  {{- yield message() content -}}
  {{ gettext(`
    Please note that Pocket does not allow the article content to be exported.
    This could lead to different results in Readeck than what you currently
    see in Pocket.
  `) }}
  {{- end -}}
</div>

<form action="{{ urlFor() }}" method="POST" enctype="multipart/form-data">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{- yield fileDropField(
    field=.Form.Get("data"),
    required=true,
    label=gettext("File"),
    class="field-h",
  ) -}}

  {{ include "./options" }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Import Bookmarks") }}</button>
    <a class="ml-auto btn btn-default rounded" href="{{ urlFor(`/bookmarks/import`) }}">{{ gettext("Cancel") }}</a>
  </p>
</form>
{{- end -}}
