{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "../base" }}
{{ import "/_libs/forms"}}

{{- block title() -}}{{ gettext("Import your Wallabag Articles") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<form class="max-w-xl" action="{{ urlFor() }}" method="POST">
  <div class="prose mb-8">
    <p>{{ gettext(`
      To import your articles from Wallabag, you must first create an API client
      in the <strong>API clients management</strong> menu. This will give you
      a <strong>Client ID</strong> and <strong>Client secret</strong>.
    `)|raw }}</p>

    <p>{{ gettext(`
      You can then enter all the necessary information in the form bellow.
    `) }}</p>
  </div>

  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(
    field=.Form.Get("url"),
    label=gettext("Wallabag URL"),
    class="field-h",
    help=gettext("Base URL of you Wallabag instance")
  ) }}

  {{ yield textField(
    field=.Form.Get("username"),
    label=gettext("Username"),
    class="field-h",
  ) }}

  {{ yield passwordField(
    field=.Form.Get("password"),
    label=gettext("Password"),
    class="field-h",
  ) }}

  {{ yield textField(
    field=.Form.Get("client_id"),
    label=gettext("Client ID"),
    class="field-h",
  ) }}

  {{ yield textField(
    field=.Form.Get("client_secret"),
    label=gettext("Client Secret"),
    class="field-h",
  ) }}

  <p class="flex gap-1">
    <button class="btn-primary" type="submit">{{ gettext("Import Bookmarks") }}</button>
    <a class="ml-auto btn rounded" href="{{ urlFor(`/bookmarks/import`) }}">{{ gettext("Cancel") }}</a>
  </p>
</form>

{{- end -}}
