{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/formsv2"}}

{{- block title() -}}{{ gettext("Import your Wallabag Articles") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<div class="prose mb-8">
  <p>{{ gettext(`
    To import your articles from Wallabag, you must first create an API client
    in Wallabag's <strong>API clients management</strong> menu. This will give you
    a <strong>Client ID</strong> and <strong>Client secret</strong>.
  `)|raw }}</p>

  <p>{{ gettext(`
    You can then enter all the necessary information in the form below.
  `) }}</p>
</div>

<form action="{{ urlFor() }}" method="POST">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(
    field=.Form.Get("url"),
    required=true,
    label=gettext("Wallabag URL"),
    class="field-h",
    help=gettext("URL of your Wallabag homepage")
  ) }}

  {{ yield textField(
    field=.Form.Get("username"),
    required=true,
    label=gettext("Username"),
    class="field-h",
  ) }}

  {{ yield passwordField(
    field=.Form.Get("password"),
    required=true,
    label=gettext("Password"),
    class="field-h",
  ) }}

  {{ yield textField(
    field=.Form.Get("client_id"),
    required=true,
    label=gettext("Client ID"),
    class="field-h",
  ) }}

  {{ yield textField(
    field=.Form.Get("client_secret"),
    required=true,
    label=gettext("Client Secret"),
    class="field-h",
  ) }}

  {{ include "./options" }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Import Bookmarks") }}</button>
    <a class="ml-auto btn btn-default rounded" href="{{ urlFor(`/bookmarks/import`) }}">{{ gettext("Cancel") }}</a>
  </p>
</form>
{{- end -}}
