{*
SPDX-FileCopyrightText: © 205 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms"}}

{{- block title() -}}{{ gettext("Import Links from a CSV File") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<div class="prose mb-8">
  <p>{{ gettext(`
    Upload a CSV file from Instapaper or any CSV that matches the format specified below.
  `) }}</p>
</div>

<form action="{{ urlFor() }}" method="POST" enctype="multipart/form-data">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{- yield fileDropField(
    field=.Form.Get("data"),
    required=true,
    label=gettext("File"),
    class="field-h",
  ) -}}

  {{ include "./options" }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Import Bookmarks") }}</button>
    <a class="ml-auto btn btn-default rounded" href="{{ urlFor(`/bookmarks/import`) }}">{{ gettext("Cancel") }}</a>
  </p>
</form>

<h2 class="mt-8 title text-h3">CSV Format</h2>
<div class="prose">
  <p>{{ gettext(`
    The uploaded file must contain a first row with the column names. Column names are case
    insensitive and, except for <code>%s</code>, every column is optional.
  `, "url") | raw }}</p>
  <p>{{ gettext("Here are the columns you can set:") }}</p>
  <table>
    <thead>
      <tr>
        <th>{{ gettext("Field") }}</th>
        <th>{{ gettext("Alias") }}</th>
        <th>{{ gettext("Description") }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>url</code> (<strong>required</strong>)</td>
        <td></td>
        <td>{{ gettext("Link address") }}</td>
      </tr>
      <tr>
        <td><code>title</code></td>
        <td></td>
        <td>{{ gettext("Bookmark title") }}</td>
      </tr>
      <tr>
        <td><code>state</code></td>
        <td><code>folder</code></td>
        <td>{{ gettext(`Bookmark's archived state; only valid value is "%s"`, "archive") }}</td>
      </tr>
      <tr>
        <td><code>created</code></td>
        <td><code>timestamp</code></td>
        <td>{{ gettext("Creation date, can be a UNIX timestamp or an RFC-3339 formatted date") }}</td>
      </tr>
      <tr>
        <td><code>labels</code></td>
        <td><code>tags</code></td>
        <td>{{ gettext("A JSON encoded list of labels") }}</td>
      </tr>
    </tbody>
  </table>

  <h4>{{ gettext("Example") }}</h4>
  <pre>url,title,state,created,labels
https://www.the-reframe.com/all-in-the-same-boat/,"All In The Same Boat",,2025-01-12T10:45:56,"[""label 1"",""label 2""]"</pre>
</div>


{{- end -}}
