{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/formsv2"}}

{{- block title() -}}{{ gettext("Import Links from a GoodLinks export file") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<div class="prose mb-8">
  <p>{{ gettext(`
    Upload a JSON file obtained from your GoodLinks app.
  `) }}</p>
</div>

<form action="{{ urlFor() }}" method="POST" enctype="multipart/form-data">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{- yield fileDropField(
    field=.Form.Get("data"),
    required=true,
    label=gettext("File"),
    class="field-h",
  ) -}}

  {{ include "./options" }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Import Bookmarks") }}</button>
    <a class="ml-auto btn btn-default rounded" href="{{ urlFor(`/bookmarks/import`) }}">{{ gettext("Cancel") }}</a>
  </p>
</form>
{{- end -}}
