{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms"}}

{{- block title() -}}{{ gettext("Import your Browser's Bookmarks") }}{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

<div class="prose">
  <p>{{ gettext(`
    In your web browser, export your bookmarks as an HTML file.<br>
    Upload this file in the form below and Readeck will create and fetch
    every bookmark found it the file.
  `)|raw }}</p>

  <ul>
    <li><a href="https://support.mozilla.org/en-US/kb/export-firefox-bookmarks-to-backup-or-transfer">{{ gettext("Instructions for Firefox") }}</a></li>
    <li><a href="https://support.google.com/chrome/answer/96816?hl=en">{{ gettext("Instructions for Chrome") }}</a></li>
  </ul>
</div>

<form action="{{ urlFor() }}" method="POST" enctype="multipart/form-data">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{- yield fileDropField(
    field=.Form.Get("data"),
    required=true,
    label=gettext("File"),
    class="field-h",
  ) -}}

  {{ include "./options" }}

  <p class="btn-block">
    <button class="btn-primary" type="submit">{{ gettext("Import Bookmarks") }}</button>
    <a class="ml-auto btn rounded" href="{{ urlFor(`/bookmarks/import`) }}">{{ gettext("Cancel") }}</a>
  </p>
</form>
{{- end -}}
