{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/list"}}

{{- block title() -}}{{ gettext("Import your Bookmarks") }}{{- end -}}

{{- block head() -}}
  {{- if isset(.TrackID) && (.Running || .Progress.Status == 0) -}}
    <noscript><meta http-equiv="refresh" content="5"></noscript>
  {{- end -}}
{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

{{- if isset(.TrackID) -}}
  {{- yield message() content -}}
    {{ include "./progress" }}
  {{- end -}}
{{- else -}}
  <p class="mb-8">{{ gettext(`
    Here you can import your existing bookmark collection from various sources into Readeck.
  `) }}</p>

  {{- yield list() content -}}
    <a class="flex items-center gap-2 p-4 link hf:bg-gray-100" href="{{ urlFor(`/bookmarks/import/text`) }}">
      {{ yield icon(name="o-file", class="text-gray-600", svgClass="inline-block h-6 w-6") }}
      {{ gettext("Import Links from a Text File") }}
    </a>
    <a class="flex items-center gap-2 p-4 link hf:bg-gray-100" href="{{ urlFor(`/bookmarks/import/browser`) }}">
      {{ yield icon(name="o-bookmarks", class="text-gray-600", svgClass="inline-block h-6 w-6") }}
      {{ gettext("Import your Browser's Bookmarks, Pinboard, Instapaper") }}
    </a>
    <a class="flex items-center gap-2 p-4 link hf:bg-gray-100" href="{{ urlFor(`/bookmarks/import/csv`) }}">
      {{ yield icon(name="o-spreadsheet", class="text-gray-600", svgClass="inline-block h-6 w-6") }}
      {{ gettext("Import Links from a CSV File and Instapaper") }}
    </a>
    <a class="flex items-center gap-2 p-4 link hf:bg-gray-100" href="{{ urlFor(`/bookmarks/import/goodlinks`) }}">
      {{ yield icon(name="o-star", class="text-gray-600", svgClass="inline-block h-6 w-6") }}
      {{ gettext("Import your GoodLinks Articles") }}
    <a class="flex items-center gap-2 p-4 link hf:bg-gray-100" href="{{ urlFor(`/bookmarks/import/omnivore`) }}">
      {{ yield icon(name="o-omnivore", class="text-gray-600", svgClass="inline-block h-6 w-6") }}
      {{ gettext("Import your Omnivore Articles") }}</a>
    <a class="flex items-center gap-2 p-4 link hf:bg-gray-100" href="{{ urlFor(`/bookmarks/import/pocket-file`) }}">
      {{ yield icon(name="o-pocket", class="text-gray-600", svgClass="inline-block h-6 w-6") }}
      {{ gettext("Import your Pocket Articles") }}</a>
    <a class="flex items-center gap-2 p-4 link hf:bg-gray-100" href="{{ urlFor(`/bookmarks/import/wallabag`) }}">
      {{ yield icon(name="o-wallabag", class="text-gray-600", svgClass="inline-block h-6 w-6") }}
      {{ gettext("Import your Wallabag Articles") }}
    </a>
  {{- end -}}
{{- end -}}

{{- end -}}
