{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
<turbo-frame id="import-progress-{{ .TrackID }}"
 data-controller="turbo-refresh"
 data-turbo-refresh-interval-value="2"
 data-turbo-refresh-on-value="[data-running]"
 data-turbo-refresh-src-value="{{ urlFor(`/api/bookmarks/import`, .TrackID) }}"
 >
  {{- if .Running || .Progress.Status == 0 -}}
    <p class="mb-4">
      {{- if .Progress.Status == 1 -}}
        {{ gettext("Import operation will launch momentarily.") }}
      {{- else -}}
        {{ gettext(`Import operation has started!`) }}
      {{- end -}}
    </p>

    <p class="mb-8">{{ gettext("You can keep using Readeck while the import is running.") }}</p>
    <progress data-running="1" max="{{ .Progress.Total }}" value="{{ .Progress.Done }}" class="h-6 w-full"></progress>
  {{- else -}}
    <p class="mb-4">{{ gettext("Import is finished!") }}</p>
    <p>{{ gettext(`
      Your bookmarks are now available in your <a class="%s" href="%s">bookmark list</a>.
      `, "link", urlFor("/bookmarks")
    )|raw }}</p>
  {{- end -}}
</turbo-frame>
