<?xml version="1.0" encoding="UTF-8"?>
{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ .Item.Lang }}">
<head>
  <title>{{ .Item.Title }}</title>
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' data:;"/>
  <meta http-equiv="Content-Security-Policy" content="connect-src 'none';"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'none';"/>
  <meta http-equiv="Content-Security-Policy" content="style-src 'self';"/>
  <meta http-equiv="Content-Security-Policy" content="frame-src 'none'; child-src 'none';"/>
  <meta http-equiv="Content-Security-Policy" content="media-src 'none';"/>
  <link rel="stylesheet" type="text/css" href="./styles/stylesheet.css"/>
</head>

<body>
<h1 class="title">{{ .Item.Title }}</h1>
{{- if !empty(.Item.Description) -}}
<p class="desc">{{ .Item.Description }}</p>
{{- end -}}

<ul class="info">
  <li>
    {{- if isset(.Resources.icon) -}}
    <img class="icon" alt="" src="{{ .Resources.icon.Name }}"
      width="{{ .Resources.icon.Size[0] }}"
      height="{{ .Resources.icon.Size[1] }}" />
    {{- end -}}
    <strong>{{ default(.Item.SiteName, gettext("no site name")) }}</strong>
  </li>
  {{- if !empty(.Item.Published) -}}
    <li>{{ gettext("Published on %s", date(.Item.Published, "%e %B %Y")) }}</li>
  {{- end -}}
  {{- if !empty(.Item.Authors) -}}
    <li>{{ gettext("By %s", join(.Item.Authors, ", ")) }}</li>
  {{- end -}}
    <li><a href="{{ .Item.URL }}">{{ .Item.Domain }}</a></li>
  {{- readingTime := .Item.ReadingTime() -}}
  {{- if readingTime > 0 -}}
    <li>{{ ngettext("About %d minute read", "About %d minutes read", readingTime, readingTime) }}</li>
  {{- end -}}
</ul>

{{- if .Item.DocumentType == "photo" || .Item.DocumentType == "video" -}}
  <main class="photo">
    <img src="{{ .Resources.image.Name }}" alt="" width="{{ .Resources.image.Size[0] }}" height="{{ .Resources.image.Size[1] }}" />
  </main>
{{- end -}}

{{- if isset(.Item.Files.article) -}}
  <main class="content {{ preferences.ReaderJustify().Class }} {{ preferences.ReaderHyphenation().Class }}">
  {{- unsafeWrite(.HTML) -}}
  </main>
{{- end -}}

<hr />
<table class="info">
  <tr>
    <td>
      <img src="{{ qrcode(.ItemURL, -3) }}" alt="" />
    </td>
    <td>
      Saved with <a href="https://readeck.com/">Readeck</a><br />
      <a href="{{ .ItemURL }}">{{ .ItemURL }}</a>
    </td>
  </tr>
</table>

</body>
</html>
