{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ import "../../_libs/common" }}

{{- if .Item.Type == "photo" && isset(.Item.Resources.image) -}}
  <figure class="mb-8">
    <img alt="" src="{{ .Item.Resources.image.Src }}"
    class="mx-auto"
    width="{{ .Item.Resources.image.Width }}" height="{{ .Item.Resources.image.Height }}">
  </figure>
{{- else if .Item.Type == "video" && isset(.Item.Resources.image) && .Item.Embed -}}
  <div class="video-player mb-8" data-controller="video">
    <img alt="" src="{{ .Item.Resources.image.Src }}"
      width="{{ .Item.Resources.image.Width }}" height="{{ .Item.Resources.image.Height }}">
    <template data-video-target="embed">
      {{- raw(.Item.Embed) -}}
    </template>
    <template data-video-target="play">
      <button class="play-button"
       data-action="{{ if !.Item.HasArticle }}click->scroll-progress#setPosition {{ end -}} click->video#play"
       data-scroll-progress-position-param="100"
      >
        <span></span>
      </button>
    </template>
  </div>
{{- end -}}

{{- if .Item.HasArticle -}}
<turbo-frame id="bookmark-content-{{ .Item.ID }}"
 src="{{ urlFor(`/api/bookmarks`, .Item.ID) }}/article"
 disabled
 data-controller="annotations"
 data-action="request:annotation-removed@document->annotations#reload"
 data-annotations-api-url-value="{{ urlFor(`/api/bookmarks`, .Item.ID) }}/annotations"
 data-annotations-hidden-class="hidden"
>

<div class="bookmark-article print:max-w-none relative {{ preferences.ReaderWidth().Class }}"
 data-controller="styler">
  <div class="hidden absolute z-50 font-sans"
    data-annotations-target="controlls">
      {{- colors := slice(
        slice("yellow", gettext("Yellow")),
        slice("red", gettext("Red")),
        slice("blue", gettext("Blue")),
        slice("green", gettext("Green")),
      ) -}}
      <div class="flex items-center gap-4 p-3 pl-5 text-white bg-gray-700 dark:bg-gray-300 rounded-full shadow-lg"
        data-annotations-target="controllCreate">
        {{- gettext("Highlight") }}
        {{- range colors -}}
          <button class="rd-annotation w-5 h-5 rounded-full border hf:opacity-80"
           value="{{ .[0] }}" title="{{ .[1] }}"
           data-action="click->annotations#save"></button>
        {{- end -}}
      </div>
      <div class="flex items-center gap-4 p-3 pl-5 text-white bg-gray-700 dark:bg-gray-300 rounded-full shadow-lg"
       data-annotations-target="controllUpdate">
        {{- range colors -}}
          <button class="rd-annotation w-5 h-5 rounded-full border hf:opacity-80"
           value="{{ .[0] }}" title="{{ .[1] }}"
           data-action="click->annotations#update"></button>
        {{- end -}}
        <button data-action="click->annotations#delete"
         class="w-8 h-8 -my-3 -mr-1 bg-red-700 rounded-full border border-red-400 hf:opacity-80"
         title="{{ gettext(`Remove Highlight(s)`)  }}">{{ yield icon(name="o-trash") }}</button>
      </div>
  </div>

  <div class="
    prose
    {{ preferences.ReaderFont().Class }}
    {{ preferences.ReaderFontSize().Class }}
    {{ preferences.ReaderLineHeight().Class }}
    {{ preferences.ReaderJustify().Class }}
    {{ preferences.ReaderHyphenation().Class }}
    overflow-x-auto
    "
    lang="{{ .Item.Lang }}"
    dir="{{ default(.Item.TextDirection, `ltr`) }}"
    data-controller="styler"
    data-annotations-target="root"
    data-scroll-progress-target="tracked">
    {{- unsafeWrite(.HTML) -}}
  </div>
  {{- include "./bookmark_qrcode" }}
</div>
</turbo-frame>
{{- else -}}
  {{- include "./bookmark_qrcode" }}
{{- end -}}
