{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
<div class="space-y-4 text-sm">
  {{ yield textField(
    field=.Get("search"),
    label=gettext("Search"),
  ) }}

  {{ yield textField(
    field=.Get("title"),
    label=gettext("Title"),
  ) }}

  {{ yield textField(
    field=.Get("author"),
    label=gettext("Author"),
  ) }}

  {{ yield textField(
    field=.Get("site"),
    label=gettext("Site"),
  ) }}

  {{ yield textField(
    field=.Get("labels"),
    label=gettext("Label"),
  ) }}

  {{ yield timeTokenField(
    field=.Get("range_start"),
    label=gettext("From date"),
    class="field-h--compact",
  ) }}

  {{ yield timeTokenField(
    field=.Get("range_end"),
    label=gettext("To date"),
    class="field-h--compact",
  ) }}

  {{ yield multiSelectField(field=.Get("type"),
    label=gettext("Type"),
    class="field-h--compact",
  ) }}

  {{ yield selectField(field=.Get("is_marked"),
    label=gettext("Is Favorite"),
    class="field-h--compact",
    options=slice(slice("", ""), slice(true, gettext("yes")), slice(false, gettext("no"))),
  ) }}

  {{ yield selectField(field=.Get("is_archived"),
    label=gettext("Is Archived"),
    class="field-h--compact",
    options=slice(slice("", ""), slice(true, gettext("yes")), slice(false, gettext("no"))),
  ) }}

  {{ yield selectField(field=.Get("is_loaded"),
    label=gettext("Is Loaded"),
    class="field-h--compact",
    options=slice(slice("", ""), slice(true, gettext("yes")), slice(false, gettext("no"))),
  ) }}

  {{ yield selectField(field=.Get("has_labels"),
    label=gettext("With Labels"),
    class="field-h--compact",
    options=slice(slice("", ""), slice(true, gettext("yes")), slice(false, gettext("no"))),
  ) }}

  {{ yield selectField(field=.Get("has_errors"),
    label=gettext("With Errors"),
    class="field-h--compact",
    options=slice(slice("", ""), slice(true, gettext("yes")), slice(false, gettext("no"))),
    ) }}
</div>
