{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}

{{- block list_actions() -}}
  <div
    class="btn-group"
    data-controller="styler-option request"
    data-styler-option-styler-outlet="[data-controller='styler']"
    data-request-url-value="{{ urlFor(`/api/profile`) }}"
    data-request-method-value="patch"
  >
    <button class="btn-outlined py-1 data-[current]:btn-primary"
    title="{{ gettext(`Grid view`) }}"
    type="button" value="grid"
    data-choice-value="bookmark-list--grid"
    data-styler-option-target="choices"
    data-action="styler-option#setChoice"
    >{{ yield icon(name="o-grid") }}</button>
    <button class="btn-outlined py-1 data-[current]:btn-primary"
    title="{{ gettext(`Compact view`) }}"
    type="button" value="compact"
    data-styler-option-target="choices"
    data-choice-value="bookmark-list--compact"
    data-action="styler-option#setChoice"
    >{{ yield icon(name="o-list") }}</button>

    <input type="hidden" value="{{ user.Settings.ReaderSettings.ListDisplay }}"
    data-styler-option-target="value"
    data-action="styler-option:setValue->request#fetch"
    data-request-name-param="settings_reader_list_display">
  </div>
  {{- yield content -}}
{{- end -}}

{{- block export_menu(url) -}}
  <div class="relative flex items-center">
    <details class="btn-group" data-controller="menu">
      <summary class="btn-outlined py-1">
        {{- yield icon(name="o-menu-dots") -}}
      </summary>
      <div class="absolute z-30 top-8 right-0 w-[max-content] shadow-lg bg-gray-50 border border-gray-300 rounded-md p-4">
        <ul class="flex flex-col gap-4">
          {{- yield content -}}
          <li><a class="link" href="{{ url }}">{{- yield icon(name="o-download") }} {{ gettext("Download EPUB") }}</a></li>
        </ul>
      </div>
    </details>
  </div>
{{- end -}}
