{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
<details class="no-js:hidden relative"
  data-controller="menu request"
  data-request-url-value="{{ urlFor(`/api/profile`) }}"
  data-request-method-value="patch"
>
  <summary class="list-none">
    {{- yield icon(name="o-font-family", class="inline-block", svgClass="h-6 w-6") -}}
  </summary>
  <div class="
    absolute top-6 right-0 w-72 max-h-[calc(100vh-12rem)] overflow-y-auto
    overscroll-contain
    shadow-lg text-gray-900 bg-gray-50 border border-gray-300 rounded-md p-4
  ">
    <details class="flex flex-col gap-2 border-b pb-2"
      data-controller="styler-option"
      data-styler-option-styler-outlet="[data-controller='styler']"
    >
      <summary class="flex items-center gap-2 p-2 -mx-2 rounded-sm border border-transparent hover:border-gray-300">{{- yield icon(name="o-font") -}}
        <span class="flex-grow font-semibold">{{ gettext("Font") }}</span>
        {{- yield icon(name="o-chevron-r") -}}
      </summary>

      <div class="flex flex-col gap-1 mt-1 -mx-2">
      {{- range i, x := user.Settings.ReaderSettings.FontList() -}}
        <button class="
          capitalize py-1 px-2 text-left text-lg rounded-sm border border-transparent
          hf:border-gray-300 data-[current]:bg-gray-200 {{ x[1] }}
         "
         value="{{ x[0] }}" data-choice-value="{{ x[1] }}"
         data-styler-option-target="choices"
         data-action="styler-option#setChoice"
         {{ x[0] == user.Settings.ReaderSettings.Font ? "data-current" : "" }}
        >{{ replace(x[0], "-", " ", -1) }} </button>
      {{- end -}}
      </div>

      <input type="hidden" value="{{ user.Settings.ReaderSettings.Font }}"
       data-styler-option-target="value"
       data-action="styler-option:setValue->request#fetch"
       data-request-name-param="settings_reader_font">
    </details>
    <div
      class="mt-4 flex items-center gap-2"
      data-controller="styler-option"
      data-styler-option-styler-outlet="[data-controller='styler']"
      data-styler-option-values-value="{{- user.Settings.ReaderSettings.FontSizes()|json() -}}"
    >
      {{- yield icon(name="o-font-size") -}} <span class="flex-grow">{{ gettext("Size") }}</span>
      <button class="btn-outlined py-1.5 w-9 rounded"
       data-action="styler-option#decreaseValue">
        {{- yield icon(name="o-minus") -}}
      </button>
      <input class="p-1 text-center text-sm bg-gray-200 rounded-full" type="text" size="1" disabled
        value="{{ user.Settings.ReaderSettings.FontSize }}"
        data-styler-option-target="value"
        data-action="styler-option:setValue->request#fetch"
        data-request-name-param="settings_reader_font_size"
      >
      <button class="btn-outlined py-1.5 w-9 rounded"
       data-action="styler-option#increaseValue">
        {{- yield icon(name="o-plus") -}}
      </button>
    </div>
    <div
      class="mt-4 flex items-center gap-2"
      data-controller="styler-option"
      data-styler-option-styler-outlet="[data-controller='styler']"
      data-styler-option-values-value="{{- user.Settings.ReaderSettings.LineHeights()|json() -}}"
    >
      {{- yield icon(name="o-line-height") -}} <span class="flex-grow">{{ gettext("Line height") }}</span>
      <button class="btn-outlined py-1.5 w-9 rounded"
       data-action="styler-option#decreaseValue">
        {{- yield icon(name="o-minus") -}}
      </button>
      <input class="p-1 text-center text-sm bg-gray-200 rounded-full" type="text" size="1" disabled
       value="{{ user.Settings.ReaderSettings.LineHeight }}"
       data-styler-option-target="value"
       data-action="styler-option:setValue->request#fetch"
       data-request-name-param="settings_reader_line_height"
      >
      <button class="btn-outlined py-1.5 w-9 rounded"
       data-action="styler-option#increaseValue">
        {{- yield icon(name="o-plus") -}}
      </button>
    </div>
  </div>
</details>
