{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- import "/_libs/common" -}}
{{ import "/_libs/forms" }}

<turbo-frame id="bookmark-share-{{ .ID }}">
<form id="share-email-form" action="{{ urlFor(`/bookmarks`, .ID, `share/email`) }}" method="post"
    data-controller="{{ isTurbo ? `turbo-form` : `` }}"
  >
  {{- if !.Sent -}}
    {{ if isTurbo -}}
      {{- if .Form.Get("format").Value() == "html" -}}
        <p class="mb-4">{{ gettext("Sends this bookmark's content in the message.") }}</p>
      {{- else if .Form.Get("format").Value() == "epub" -}}
        <p class="mb-4">{{ gettext("Sends this bookmark as an attached EPUB file.") }}</p>
      {{- end -}}
    {{- end }}

    {{ yield formErrors(form=.Form) }}
    {{ yield csrfField() }}

    {{ if isTurbo -}}
      <input type="hidden" name="format" value="{{ .Form.Get(`format`).Value() }}">
    {{- else -}}
      {{ yield selectField(
        field=.Form.Get("format"),
        label=gettext("Format"),
        required=true,
        class="field"
      ) }}
    {{- end }}

    {{ yield textField(
      field=.Form.Get("email"),
      type="email",
      required=true,
      label=gettext("Send To"),
      class="field"
    ) }}

    <p>
      <button class="btn btn-primary" type="submit">{{ gettext("Send message") }}</button>
    </p>
  {{- else -}}
    {{- yield message(type="success") content -}}
      {{ gettext("The bookmark was sent to %s", .Form.Get("email")) }}
    {{- end -}}
  {{- end -}}

  {{ if !isTurbo -}}
    <p class="mt-4">
      <a class="sm:ml-auto btn btn-outlined text-center" href="{{ urlFor(`/bookmarks`, .ID) }}">
        {{ gettext("Go back to the bookmark") }}
      </a>
    </p>
  {{- end }}
</form>
</turbo-frame>
