{{ extends "/base" }}
{{ import "/_libs/forms" }}

{{ block body() -}}
<div class="layout:app print:max-w-none">
  <input type="checkbox" id="--sl-toggle" class="sidebar:ctrl">
  <div class="layout:sidebar print:hidden
    +md:bg-gray-800 +md:bg-none +md:text-white +md:shadow-md
    shadow-sidebar bg-gradient-to-r from-gray-50 to-gray-100">
    <div class="flex p-4 +md:py-2 +md:px-4 items-center">
      <h1 class="flex-grow text-center text-xl leading-none font-bold"><a
       href="{{ urlFor(`/`) }}">Readeck</a></h1>
      <span class="flex-shrink hidden +md:block">
        <label for="--sl-toggle" class="inline-flex
        items-center justify-center cursor-pointer">
          {{- yield icon(name="o-menu", class="inline-block", svgClass="w-8 h-8") -}}
        </label>
      </span>
    </div>
    <nav class="sidebar:content px-4">
      {{ include "./nav" }}
    </nav>
  </div>

  <main class="layout:main px-4 pt-4 pb-8">
    {{ yield flashes() }}
    {{ yield mainContent() }}
  </main>
</div>

{{- end}}
