{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}

{{ block title() }}Error{{ end }}

{{ block body() }}
<div class="flex h-screen max-sm:flex-col">
  {{ include "./menu" }}

  <div class="flex-1 w-full overflow-y-auto p-8">
    <h1 class="text-h1 title">Error</h1>

    {{ if .Status == 403 }}
    <p>Permission denied</p>
    {{ else if .Status == 404 }}
    <p>Page not found</p>
    {{ else }}
    <p>An error occured</p>
    {{ end }}
  </div>
</div>
{{ end }}
