{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "../profile/base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("Users") }} - {{ .User.Username }}{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ .User.Username }}</h1>

{{- if .User.IsDeleted -}}
  <form action="{{ urlFor(`.`, `delete`) }}" method="POST">
  {{ yield csrfField() }}
  <input type="hidden" name="_to" value="{{ currentPath }}" />
  {{- yield message(type="info") content -}}
    {{ gettext("User will be removed in a few seconds") }}&nbsp;
    <button class="btn btn-primary" name="cancel" value="1">{{ gettext("Cancel") }}</button>
  {{- end -}}
</form>
{{- end -}}

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(field=.Form.Get("username"),
                     required=true,
                     label=gettext("Username"),
                     class="field-h") }}

  {{ yield textField(field=.Form.Get("email"),
                     type="email",
                     required=true,
                     label=gettext("Email address"),
                     class="field-h") }}

  {{ yield selectField(field=.Form.Get("group"),
                       label=gettext("Group"),
                       required=true,
                       class="field-h") }}

  {{ yield passwordField(field=.Form.Get("password"),
                         label=gettext("Password"),
                         class="field-h",
                         inputAttrs=attrList("autocomplete", "off"),
                         help=gettext("will not change if empty")) }}

  <p class="btn-block">
    <button class="btn btn-primary" type="submit">{{ gettext("Save") }}</button>
    {{- if .User.ID != user.ID && !.User.IsDeleted -}}
      <button class="ml-auto btn btn-danger" type="submit"
        formaction="{{ urlFor(`.`, `delete`) }}">{{ gettext("Delete this user") }}</button>
    {{- end -}}
  </p>
</form>
{{ end }}
