{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "../profile/base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("New User") }}{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(field=.Form.Get("username"),
                     required=true,
                     label=gettext("Username"),
                     class="field-h") }}

  {{ yield textField(field=.Form.Get("email"),
                     type="email",
                     required=true,
                     label=gettext("Email address"),
                     class="field-h") }}

  {{ yield selectField(field=.Form.Get("group"),
                       required=true,
                       label=gettext("Group"),
                       class="field-h") }}

  {{ yield passwordField(field=.Form.Get("password"),
                         required=true,
                         label=gettext("Password"),
                         class="field-h",
                         inputAttrs=attrList("autocomplete", "off"),
                        ) }}

  <p class="btn-block">
    <button class="btn-primary" type="submit">{{ gettext("Create user") }}</button>
  </p>
</form>
{{ end }}
