{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- extends "./include/base" }}

{{ block body() }}
<h1 class="title" dir="{{ default(.Item.TextDirection, `ltr`) }}">{{ .Item.Title }}</h1>
  {{- if !empty(.Item.Description) -}}
  <p class="desc" dir="{{ default(.Item.TextDirection, `ltr`) }}">{{ .Item.Description }}</p>
  {{- end -}}

  <ul class="info">
    <li>
      <strong>{{ default(.Item.SiteName, gettext("no site name")) }}</strong>
    </li>
    <li><a href="{{ .Item.URL }}">{{ .Item.URL }}</a></li>
    {{- if !empty(.Item.Published) -}}
      <li>{{ gettext("Published on %s", date(.Item.Published, "%e %B %Y")) }}</li>
    {{- end -}}
    {{- if !empty(.Item.Authors) -}}
      <li>{{ gettext("By %s", join(.Item.Authors, ", ")) }}</li>
    {{- end -}}
    {{- readingTime := .Item.ReadingTime() -}}
    {{- if readingTime > 0 -}}
      <li>{{ ngettext("About %d minute read", "About %d minutes read", readingTime, readingTime) }}</li>
    {{- end -}}
  </ul>

  {{- if .Image.Name != "" && .Item.DocumentType == "photo" || .Item.DocumentType == "video" -}}
    <div class="main photo">
      <img src="{{ .Image.Name }}" alt="" width="{{ .Image.Size[0] }}" height="{{ .Image.Size[1] }}" />
    </div>
  {{- end -}}

  {{- if isset(.Item.Files.article) -}}
    <div class="main prose"
     lang="{{ .Item.Lang }}"
     dir="{{ default(.Item.TextDirection, `ltr`) }}"
    >
    {{- unsafeWrite(.HTML) -}}
    </div>
  {{- end -}}
</div>
{{ end }}
