{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
<html>
<head>
  <meta http-equiv="Content-Security-Policy" content="connect-src 'none';"/>
  <meta http-equiv="Content-Security-Policy" content="script-src 'none';"/>
  <meta http-equiv="Content-Security-Policy" content="frame-src 'none'; child-src 'none';"/>
{{- if isset(.CSS) }}
  <style>
  {{ .CSS|unsafe }}
  </style>
{{ end -}}
</head>
<body>
<div class="body">
  <div class="container">
    <div class="content">
    {{ yield body() }}
    </div>
    <div class="footer">
      Readeck - Read-later and Bookmark manager<br />
      {{- if isset(.SiteURL) }}
      <a href="{{ .SiteURL }}">{{ .SiteURL }}</a><br />
      {{ end -}}
      <a href="https://readeck.org/">https://readeck.org/</a>
    </div>
  </div>
</div>
</body>
</html>
