{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}

{{- block _main() -}}
  <main class="layout-content" id="content">
    {{ yield flashes() }}
    {{ yield mainContent() }}
  </main>
{{- end -}}

{{- block menuButton(name) -}}
<button type="button" title="{{ name }}"
  class="sidemenu--button"
  data-action="click->panel#toggleMenu"
  data-panel-target="button"
  aria-expanded="false"
  aria-controls="sidemenu">
    {{- yield content -}}
  <span class="sr-only">{{ name }}</span>
</button>
{{- end -}}

{{ block body() -}}
  {{- yield quickAccessMenu(items=slice(
    slice("menu", gettext("Menu")),
    slice("sidemenu", gettext("Secondary Menu")),
    slice("content", gettext("Main content")),
  )) -}}
  <div class="layout" data-controller="panel"
    data-panel-hidden-class="sidemenu--hidden"
    data-panel-body-class="max-sm:overflow-hidden"
  >
    {{ include "/menu" }}
    <nav
      id="sidemenu"
      tabindex="-1"
      data-panel-target="panel"
      aria-labelledby="sidemenu-title"
      data-action="keydown.esc->panel#toggleMenu"
      class="sidemenu sidemenu--hidden"
    >
      {{- yield menuButton(name=gettext("Close menu")) content -}}
        {{- yield icon(name="o-close", class="inline-block", svgClass="w-8 h-8") -}}
      {{- end -}}
      {{ try }}{{- yield sideMenu() -}}{{ end }}
    </nav>
    {{- yield _main() -}}
  </div>
{{- end}}
