{
  "bracketSpacing": false,
  "printWidth": 80,
  "singleQuote": false,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 100,
        "semi": true
      }
    }
  ]
}
